#processingMsg {
    width: 150px;
    text-align: center;
    padding: 6px 10px;
    z-index: 9999;
    top: 0;
    left: 40%;
    position: fixed;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
}
tr:hover {
    background-color: #d2e0f4;
}
inputText {
    border: 1.5px solid #0b0c0c;
}
btnCreate {
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
}
spnRequired {
    color: red;
    font-weight: bold;
}
